
.burgerMenuContainer {
    display: block;
    position: relative;
    width: 88px;
    height: 72px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    background-color: #e5d6b8;
}

.burgerMenuContainer:hover {
    background-color: #e5d6b8;
}

.subBurgerMenu {
    display: flex;
    justify-content: center;
    width: 100%;
}

.subBurgerMenu a:hover {
    color: #8cc153;
    background-color: #e5d6b8;
}

@media screen and (max-width: 768px) {
    .subBurgerMenu {
        flex-direction: column;
        font-weight: 400;
    }

    .burgerLogoImage {
        height: 50px;
        width: 184px;
    }
}

.loginMenu {
    width: 200px;
}


.logoutMenu {
    width: 185px;
    gap: 2em;
    display: flex;
}

.accountIconButton {
    border: none;
}

.accountIconButton > :hover {
    color: #8cc153 !important;
}

.accountIconButton > :active {
    color: #8cc153 !important;
}

.burgerLogoImage {
    height: 56px;
    width: 62px;
}

.burgerLogoImage:hover {
    background-color: #e5d6b8;
}


.burgerLogoImageWrap {
    padding: 10px;
    width: 62px;
    padding: 0;
}
