.addHeading {
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px !important;
    line-height: 120%;
}

@media (max-width: 768px) {
    .addHeading {
        font-size: 24px !important;
    }
}

.addSubHeading {
    border-bottom: solid 1px #363636;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #363636;
    word-break: break-word;
    text-size-adjust: 100%;
}

@media (max-width: 768px) {
    .addSubHeading {
        font-size: 14px;
    }
}
