.card-group {
  display: grid;
  grid-template-columns: repeat(3, 0.2fr);
}

.card-info{
  display: grid;
  grid-template-columns: repeat(2, 1.2fr);
  justify-items: center;
  font-weight: bold;
}

.add-form {
  margin: auto;
  width: 50%;
}

.form-btn {
  background-color: #ad893f;
  border-radius: 6px;
  color: #010100;
  margin-bottom: 12px;
}