/* Nav style */
nav {
  background-color: #cebc96;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav img {
  width: 80px;
  border-radius: 5px;
}