
.short {
    max-width: 8em;
}

.checkbox {
    flex: 1 1 auto;
    white-space: nowrap;
}

.checkboxDiv {
    align-items: center;
    display: flex;
    height: 40px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 768px) {
    .checkboxDiv {
        font-size: 16px;
    }
}

.checkboxInput {
    margin-right: 1em;
    accent-color: #8CC153;
    width: 15px;
    height: 15px;
}

.labelCheckBox {
    display: flex;
    gap: 5px;
    padding: 1em 0;
}
