.inputFormValue {
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 150%;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .inputFormValue {
        font-size: 16px;
    }
}

.formLabel {
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

@media screen and (max-width: 768px) {
    .formLabel {
        font-size: 16px;
    }
}
