.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #673ab73d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html, body, main {
  height: 100%;
  width: 100%;
  color: #010100;
}

html {
  padding-top: 0 !important;
}

main {
  padding-top: 6em;
  min-height: 950px;
}

.block-ellipsis {
  display: -webkit-box;
  display: block;
  max-width: 100%;
  height: 200px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 1.5;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --bulma-body-color: var(--text-color);
  --bulma-body-background-color: var(--background-color);
}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
  --bulma-body-color: var(--text-color);
  --bulma-body-background-color: var(--background-color);
}

body {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}
