
.login-form {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
  border: 3px solid #b8c7e5;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
}

.form-btn{
  background-color: #ad893f;
  border-radius: 6px;
  color: #010100;
  margin-bottom: 12px;
}


